body
{
    color: red;
    font-size: 10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1
{
    
}

button{
    border-radius: 25px solid ;
    color: white;    
    background-color: transparent black;
}